@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --ancep: #96608E;
  --gold: #f67500;
}

nav {
  background: #f41558;
  color: #fff;
  box-shadow: 0px 0px 11px 0px #92608f;
}

header {
  background: #f41558;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  color: black;
  width: 100vw;
  height: 100%;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
     */
}

.home {
  background: url('/images/liquid-cheese.svg');
  background-size: cover;
}

main {
  height: 100%;
  overflow: auto;
}

.card {
  background: rgb(234 12 86 / 39%);
  color: #fff;
}